body {
    background-color:#eeeeee;;
}


#myBg {
    background-color: rgb(115,48,250);

}


.myIcon {
    padding: 10px;
    background-color: bisque;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.myControl {
    padding: 10px;
    background-color: gainsboro;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}


.carousel-control-prev,
.carousel-control-next {
    width: 0%;
}

h3 {
    font-size: 1rem;
}

.bookMark {
    color: gray;
}

.bi.bi-star,
.bi-star-half,
.bi-star-fill {
    color: gold;
}

.bookMark:hover {
   fill: currentColor;
}

.card {
    border: 1px blanchedalmond;
    transition:  linear 0.2s;
}

.card:hover {
    scale: 1.08;
    z-index: 5;
    
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}



.carousel-inner {
    overflow: visible;
}